@import "/styles/mixins/colors.scss";

.button {
  padding: 15px 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;

  &.primary {
    background: $green-color;
  }
  
  &.secundary {
    background: $white-color;
    color: $purple-color;
  }

  &.full {
    padding: 21px;
    width: 100%;
    font-size: 21px;
    font-weight: 600;
    color: $gray4-color;
    background: $green3-color;
  }
}
